<div class="content-box col-centered">
  <h2><%= t('views.notes.edit.title') %></h2>

  <%= render 'form' %>

  <%= link_to t('views.notes.edit.show_link'), @note %> |
  <%= link_to t('views.notes.edit.back_list'), notes_path %>
</div>
