<div class="content-box col-centered">
  <h2><%= @note.title %></h2>

  <p>
    <%= simple_format @note.content %>
  </p>

  <%= link_to t('views.notes.show.edit_link'), edit_note_path(@note) %> |
  <%= link_to t('views.notes.show.back'), notes_path %>
</div>
