/* Variables */

/* Colors */

$white: #ffffff;
$light-gray: #fbfbfb; // Background

// Material Palette - materialpalette.com/blue-grey/lime
$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;

$lime-color:        #CDDC39;
$blue-color:         #03A9F4;
$orange-color:        #FF5722;

$light-color-text:   #FFFFFF;
$dark-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

/* Font */
$small-font: 10px;

/* Margin */
$top-bar-height-pad: 80px;
