<div class="content-box col-centered">
  <h2><%= t 'views.contacts.companies.new.title' %></h2>
  <%= render 'form' %>

  <%= link_to t('views.contacts.companies.new.back_list'), contacts_path %>
</div>
